body {
	display: flex;

}

.hero-200 {
	--color-red-hero: #d90008;

	width: 12rem;
}

.hero-200__svg {
	height: 300px;

	stroke: var(--color-red-hero);
	stroke-width: 2;
	fill: transparent;
}

/* SVG animation */
.hero-200__svg-path {
	--duration-path: 1.25s;

	stroke-width: 2;
	fill: transparent;
}
.hero-200__svg-path path {
	--end-path: calc(1 * (var(--delay-path) + var(--duration-path)));
	--delay-stroke: calc(var(--end-path) + 0.1s);
	--delay-fill: calc(var(--end-path));

	/* duration | easing-function | delay | iteration-count | fill-mode | name */
	animation:	var(--duration-path) linear var(--delay-path)   forwards svg_dash,
				0.5s                 linear var(--delay-stroke) forwards svg_stroke,
				0.5s                 linear var(--delay-fill)   forwards svg_fill;
}
.hero-200__svg-path--0 {
	--delay-path: 0s;
	--end-path: calc(1 * (var(--delay-path) + var(--duration-path)));
	--delay-stroke: calc(var(--end-path) + 0.1s);
	--delay-fill: calc(var(--end-path));

	/* duration | easing-function | delay | iteration-count | fill-mode | name */
	animation:	var(--duration-path) linear var(--delay-path)   forwards svg_dash,
				0.5s                 linear var(--delay-stroke) forwards svg_stroke,
				0.5s                 linear var(--delay-fill)   forwards svg_fill;
}
.hero-200__svg-path--1 {
	--delay-path: calc(1 * var(--duration-path) - 1s); /* accumulated time */
	--end-path: calc(1 * (var(--delay-path) + var(--duration-path)));
	--delay-stroke: calc(var(--end-path) + 0.1s);
	--delay-fill: calc(var(--end-path));

	/* duration | easing-function | delay | iteration-count | fill-mode | name */
	animation:	var(--duration-path) linear var(--delay-path)   forwards svg_dash,
				0.5s                 linear var(--delay-stroke) forwards svg_stroke,
				0.5s                 linear var(--delay-fill)   forwards svg_fill;
}
.hero-200__svg-path--2 {
	--delay-path: calc(2 * var(--duration-path) - 2s); /* accumulated time */
	--end-path: calc(var(--delay-path) + var(--duration-path));
	--delay-stroke: calc(var(--end-path) + 0.1s);
	--delay-fill: calc(var(--end-path));

	/* duration | easing-function | delay | iteration-count | fill-mode | name */
	animation:	var(--duration-path) linear var(--delay-path)   forwards svg_dash,
				0.5s                 linear var(--delay-stroke) forwards svg_stroke,
				0.5s                 linear var(--delay-fill)   forwards svg_fill;
}
.hero-200__svg-path--3 {
	--delay-path: calc(3 * var(--duration-path) - 3s); /* accumulated time */
	--end-path: calc(var(--delay-path) + var(--duration-path));
	--delay-stroke: calc(var(--end-path) + 0.1s);
	--delay-fill: calc(var(--end-path));

	/* duration | easing-function | delay | iteration-count | fill-mode | name */
	animation:	var(--duration-path) linear var(--delay-path)   forwards svg_dash,
				0.5s                 linear var(--delay-stroke) forwards svg_stroke,
				0.5s                 linear var(--delay-fill)   forwards svg_fill;
}
.hero-200__svg-path--4 {
	--delay-path: calc(4 * var(--duration-path) - 4s); /* accumulated time */
	--end-path: calc(var(--delay-path) + var(--duration-path));
	--delay-stroke: calc(var(--end-path) + 0.1s);
	--delay-fill: calc(var(--end-path));

	/* duration | easing-function | delay | iteration-count | fill-mode | name */
	animation:	var(--duration-path) linear var(--delay-path)   forwards svg_dash,
				0.5s                 linear var(--delay-stroke) forwards svg_stroke,
				0.5s                 linear var(--delay-fill)   forwards svg_fill;
}
.hero-200__svg-path--5 {
	--delay-path: calc(5 * var(--duration-path) - 5s); /* accumulated time */
	--end-path: calc(var(--delay-path) + var(--duration-path));
	--delay-stroke: calc(var(--end-path) + 0.1s);
	--delay-fill: calc(var(--end-path));

	/* duration | easing-function | delay | iteration-count | fill-mode | name */
	animation:	var(--duration-path) linear var(--delay-path)   forwards svg_dash,
				0.5s                 linear var(--delay-stroke) forwards svg_stroke,
				0.5s                 linear var(--delay-fill)   forwards svg_fill;
}
.hero-200__svg-path--6 {
	--delay-path: calc(6 * var(--duration-path) - 6s); /* accumulated time */
	--end-path: calc(var(--delay-path) + var(--duration-path));
	--delay-stroke: calc(var(--end-path) + 0.1s);
	--delay-fill: calc(var(--end-path));

	/* duration | easing-function | delay | iteration-count | fill-mode | name */
	animation:	var(--duration-path) linear var(--delay-path)   forwards svg_dash,
				0.5s                 linear var(--delay-stroke) forwards svg_stroke,
				0.5s                 linear var(--delay-fill)   forwards svg_fill;
}
.hero-200__svg-path--7 {
	--delay-path: calc(7 * var(--duration-path) - 7s); /* accumulated time */
	--end-path: calc(var(--delay-path) + var(--duration-path));
	--delay-stroke: calc(var(--end-path) + 0.1s);
	--delay-fill: calc(var(--end-path));

	/* duration | easing-function | delay | iteration-count | fill-mode | name */
	animation:	var(--duration-path) linear var(--delay-path)   forwards svg_dash,
				0.5s                 linear var(--delay-stroke) forwards svg_stroke,
				0.5s                 linear var(--delay-fill)   forwards svg_fill;
}
.hero-200__svg-path--8 { /* begins after svg-path--6 */
	--delay-path: calc(7 * var(--duration-path) - 7s); /* accumulated time */
	--end-path: calc(var(--delay-path) + var(--duration-path));
	--delay-stroke: calc(var(--end-path) + 0.1s);
	--delay-fill: calc(var(--end-path));

	/* duration | easing-function | delay | iteration-count | fill-mode | name */
	animation:	var(--duration-path) linear var(--delay-path)   forwards svg_dash,
				0.5s                 linear var(--delay-stroke) forwards svg_stroke,
				0.5s                 linear var(--delay-fill)   forwards svg_fill;
}
.hero-200__svg-path--9 {
	--delay-path: calc(8 * var(--duration-path) - 8s); /* accumulated time */
	--end-path: calc(var(--delay-path) + var(--duration-path));
	--delay-stroke: calc(var(--end-path) + 0.1s);
	--delay-fill: calc(var(--end-path));

	/* duration | easing-function | delay | iteration-count | fill-mode | name */
	animation:	var(--duration-path) linear var(--delay-path)   forwards svg_dash,
				0.5s                 linear var(--delay-stroke) forwards svg_stroke,
				0.5s                 linear var(--delay-fill)   forwards svg_fill;
}
.hero-200__svg-path--10 {
	--delay-path: calc(9 * var(--duration-path) - 9s); /* accumulated time */
	--end-path: calc(var(--delay-path) + var(--duration-path));
	--delay-stroke: calc(var(--end-path) + 0.1s);
	--delay-fill: calc(var(--end-path));

	/* duration | easing-function | delay | iteration-count | fill-mode | name */
	animation:	var(--duration-path) linear var(--delay-path)   forwards svg_dash,
				0.5s                 linear var(--delay-stroke) forwards svg_stroke,
				0.5s                 linear var(--delay-fill)   forwards svg_fill;
}
.hero-200__svg-path--11 {
	--delay-path: calc(10 * var(--duration-path) - 10s); /* accumulated time */
	--end-path: calc(var(--delay-path) + 1s);
	--delay-stroke: calc(var(--end-path) + 0.1s);
	--delay-fill: calc(var(--end-path));

	/* duration | easing-function | delay | iteration-count | fill-mode | name */
	animation:	1.0s                   linear var(--delay-path)   forwards svg_dash,
				0.3s                 linear var(--delay-stroke) forwards svg_stroke,
				0.3s                 linear var(--delay-fill)   forwards svg_fill;
}

@keyframes svg_dash {
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes svg_stroke {
	to {
		stroke-width: 0;
	}
}
@keyframes svg_fill {
	to {
		fill: var(--color-red-hero);
	}
}